.header {
  display: grid;
  grid-template-columns: 30% 35% 30%;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;

  width: 100%;
}

.list {
  display: flex;
  list-style: none;

  margin: 0;
  padding: 0;

  justify-self: start;
}

.item {
  display: flex;
}

.profile {
  display: flex;

  outline: none;
  text-decoration: none;

  justify-self: end;
}

.logo {
  justify-self: center;
}