.item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 272px;
  height: 160px;

  text-align: center;
}

.itemBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemPrice {
  margin: 0;
}

.count {
  position: absolute;

  top: 0;
  right: 0;
}